.content {
  padding: 24px;
}

.content mat-card {

  cursor: pointer;

  .img {
    padding-bottom: 60%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

}

